# dependencies
/node_modules

# testing
/test
/coverage
/deploy

# misc
/.git

# Development folders and files
/src
.eslintignore
.eslintrc
.gitignore
rollup.config.js
rollup.config.deploy.js
tsconfig.json
wrangler.toml